/*
    Document   : screen
    Created on : Jan 30, 2014, 1:01:26 PM
    Author     : Jess Green <hello@jessgreen.io>
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700,200italic,700italic');


label,
main {
    background: var(--bg, white);
    color: var(--text, black);
}

.theme-switch__input:checked ~ main,
.theme-switch__input:checked ~ label {
    --text: white;
}

.theme-switch__input:checked ~ main {
    --gradDark: hsl(198, 44%, 11%);
    --gradLight: hsl(198, 39%, 29%);
}


// Toggle switch
.theme-switch__input,
.theme-switch__label {
    position: absolute;
    z-index: 1;
}

.theme-switch__input {
    opacity: 0;

    &:hover,
    &:focus {
        + .theme-switch__label {
            background-color: lightSlateGray;
        }

        + .theme-switch__label span::after {
            background-color: lighten(lightBlue, 10%);
        }
    }
}

.theme-switch__label {
    padding: 20px;
    margin: 60px;
    transition: background-color 200ms ease-in-out;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background-color: slateGray;
    box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);

    &::before,
    &::after {
        font-size: 2rem;
        position: absolute;
        transform: translate3d(0, -50%, 0);
        top: 50%;
    }

    &::before {
        content: '\263C';
        right: 100%;
        margin-right: 10px;
        color: orange;
    }

    &::after {
        content: '\263E';
        left: 100%;
        margin-left: 10px;
        color: lightSlateGray;
    }

    span {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 0;
        width: 100%;
    }

    span::after {
        position: absolute;
        top: calc(100% + 15px);
        left: 5px;
        width: 40px;
        height: 40px;
        content: '';
        border-radius: 50%;
        background-color: lightBlue;
        transition: transform 200ms, background-color 200ms;
        box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
    }
}

// Checked label styles
.theme-switch__input:checked ~ .theme-switch__label {
    background-color: lightSlateGray;

    &::before {
        color: lightSlateGray;
    }

    &::after {
        color: turquoise;
    }

    span::after {
        transform: translate3d(70px, 0, 0);
    }
}

main {
    --gradDark: hsl(144, 100%, 89%);
    --gradLight: hsl(42, 94%, 76%);
    background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
    padding: 120px 40px 40px 40px;
    min-height: 100vh;
    text-align: center;
}


body {
    font: 1em/1.5 'Source Sans Pro', sans-serif;
    color: #272822;
}

canvas {
    border: 1px solid #000;
    background-color: #999;
}

strong {
    font-weight: 700;
}

em, cite {
    font-style: italic;
}

p {
    margin-bottom: 1rem;
}

a,
a:link {
    text-decoration: none;
    color: #99C62A;
}

a:visited {
    color: #66D9EF;
}

a:hover {
    color: #F92672;
}

a:active {
    color: #FD971F;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

button.btn,
input.btn {
    outline: none;
    display: inline-block;
    cursor: pointer;
}

a.btn {
    color: #272822;
    font-size: small;
}

.btn.btn-narrow {
    padding: 2px 15px;
}

.btn {
    display: inline-block;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.75);
    background-color: #66D9EF;
    border-radius: 3px;
    padding: 5px 15px;
    border: 1px solid #34A7BD;
}

.btn:hover {
    box-shadow: inset -1px -1px 0 rgba(255, 255, 255, 0.75);
}
/*------------------------------------------------------------------------------
Headers
------------------------------------------------------------------------------*/
.h {
    font-weight: 700;
    margin-bottom: 1.25rem;
    display: block;
    &1 {
        font-size: 2rem;
    }

    &2 {
        font-size: 1.5rem;
    }

    &3 {
        font-size: 1.25rem;
    }

    &4 {
        font-size: 1rem;
    }

    &5 {
        font-size: 0.875rem;
    }

    &6 {
        font-size: 0.75rem;
    }
}

/*------------------------------------------------------------------------------
Horizontal list
------------------------------------------------------------------------------*/
.hlist {
    list-style: none;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    &:after {
      display: block;
      height: 1px;
      float: none;
      clear: both;
      content: ".";
      visibility: hidden;
    }

    > li {
      float: left;
      margin-right: 20px;
      &:last-of-type {
          margin-right: 0;
      }
    }

}


/*------------------------------------------------------------------------------
Columns/Rows
------------------------------------------------------------------------------*/
.row {
    clear: both;
    float: none;
    display: block;
    margin-bottom: 2.5rem;
    &:after {
        display: block;
        height: 1px;
        float: none;
        clear: both;
        content: ".";
        visibility: hidden;
    }
}

.column {
    float: left;
    margin-right: 1.25rem;
}

.column-last {
    margin-right: 0;
}

.small-input {
    width: 54px;
}

.moondata {
    padding-top: 2.5rem;
}

.data-table {
    display: table;
    .label {
        width: 9.375rem;
        margin-right: 1.25rem;
        display: table-cell;
        &:after {
            content: ":";
        }
    }

    .value {
        display: table-cell;
    }
}

.calendar {
    width: 98%;
    margin-bottom: 2.5rem;
}

.calendar th {
    font-weight: 700;
    width: 14%;
}

.calendar td {
    border: 1px solid;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    height: 135px;
}

.calendar .moonphase {
    font-weight: 700;
}

.hide {
    display: none;
}

.show {
    display: block;
}